:root {
  --background-color: #09090b;
  --border-color-alt: #f4f4f5;
  --border-color: #27272a;
  --text-color-alt: #71717a;
  --text-color: #f4f4f5;
}

@font-face {
  font-display: swap;
  font-family: "Abel";
  src: url("../font/abel-regular.woff2") format("woff2");
}

h1,
h2,
p {
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Abel", sans-serif;
  font-size: 16px;
}

.header {
  border-bottom: 2px solid transparent;
  border-image-slice: 1;
  border-image: linear-gradient(
      to right,
      var(--border-color-alt),
      var(--border-color)
    )
    1;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 768px;
  padding: 32px 0;
  width: 90%;
}

.header-title {
  font-size: 40px;
  margin-bottom: 4.2px;
  text-transform: uppercase;
}

.header-subtitle {
  color: var(--text-color-alt);
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  max-width: 768px;
  padding: 32px 0;
  width: 90%;
}

.navbar-item {
  color: var(--text-color-alt);
  text-transform: uppercase;
}

.navbar-item a {
  color: var(--text-color-alt);
  text-decoration: underline;
  transition-duration: 128ms;
}

.navbar-item a:hover,
.navbar-item.active a {
  color: var(--text-color);
}

.home {
  display: flex;
  justify-content: center;
}

.home-container {
  justify-content: left;
  max-width: 768px;
  width: 90%;
}

.home-text {
  line-height: 1.6;
  margin-bottom: 32px;
  text-align: justify;
}

.home-link {
  color: var(--text-color-alt);
  transition-duration: 128ms;
}

.home-link:hover {
  color: var(--text-color);
}
